:root {
  --background-color: #d8d8d8;
  --background-color-secondary: #aeaeae;
  --background-color-selected: #efefef;
  --foreground-color: #242424;

  --color-idea1: #ff65c7;
  --color-idea2: #64c7ff;
  --color-idea3: #64ffc6;
  --color-people: #89fe89;
  --color-growth: #2ff12e;
  --color-health: #8eb3ff;
  --color-military: #f88b8a;
  --color-influence: #fec4fa;
  --color-work: #fbbf8b;
  --color-exploration: #f7f7bc;

  background-color: var(--background-color);
  color: var(--foreground-color);

  color-scheme: light dark;
  font-family: sans-serif;
  cursor: default;

  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --background-color-secondary: #434343;
    --background-color-tertiary: #5d5d5d;
    --background-color-selected: #7a7a7a;
    --foreground-color: #f1f1f1;
    --foreground-color-secondary: #c2c2c2;
  }
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.with-hoverstyle:is(:hover, :focus) {
  background-color: var(--background-color-selected) !important;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

p,
span {
  margin: 0;
  align-content: center;
  word-wrap: break-word;
}

div:has(>i.fa-solid) {

  & > .fa-users,
  & > .fa-users ~ p {
    color: var(--color-people);
  }

  & > .fa-signal,
  &.g-info:has(>.fa-signal) > p {
    color: var(--color-growth);
  }

  & > .fa-plus,
  &.g-info:has(>.fa-plus) > p {
    color: var(--color-health);
  }

  & > .fa-shield-halved,
  &.g-info:has(>.fa-shield-halved) > p {
    color: var(--color-military);
  }

  & > .fa-star,
  &.g-info:has(>.fa-star) > p {
    color: var(--color-influence);
  }

  & > .fa-gavel,
  &.g-info:has(>.fa-gavel) > p {
    color: var(--color-work)
  }

  & > .fa-sun,
  &.g-info:has(>.fa-sun) > p {
    color: var(--color-exploration)
  }

  &#ideas-kind1 {

    & > .fa-lightbulb,
    & > p {
      color: var(--color-idea1);
    }
  }

  &#ideas-kind2 {

    & > .fa-lightbulb,
    & > p {
      color: var(--color-idea2);
    }
  }

  &#ideas-kind3 {

    & > .fa-lightbulb,
    & > p {
      color: var(--color-idea3);
    }
  }
}

.active {
  background-color: var(--background-color-selected) !important;

  & > button {
    cursor: default;
    pointer-events: none;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--background-color);
  color: var(--foreground-color-secondary);
  display: flex;

  & > * {
    color: lightgray;
    padding: .5rem;
  }

  & > :last-child {
    margin-left: auto;
    text-align-last: right;
  }

  & > p > #game-speed-num {
    font-weight: bold;
  }

  & > button {
    background-color: transparent;
    width: 33%;
    border-radius: 0;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > #upgrades-container {
    width: 100%;
    display: grid;
    gap: .1rem;

    & > .upgrade {
      display: flex;
      background-color: var(--background-color-tertiary);
      font-size: 1.3rem;
      height: 4rem;

      &[type='1'] {
        --upgrade-color: var(--color-idea1);
      }

      &[type='2'] {
        --upgrade-color: var(--color-idea2);
      }

      &[type='3'] {
        --upgrade-color: var(--color-idea3);
      }

      & > .up-level {
        aspect-ratio: 1 / 1;
        text-align: center;
        font-size: 125%;
        background-color: var(--upgrade-color)
      }

      & > .up-data {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > .up-info {
          display: flex;
          height: 100%;
          margin-left: .5rem;

          & > .up-improvements-container {
            padding: .5rem 0;
            font-size: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: .5rem;
            gap: .2rem;

            & > .up-imp {
              display: flex;
              gap: .25rem;
              justify-content: right;
            }
          }
        }

        & > .up-progressbar {
          height: .5rem;
          width: 100%;
          background-color: var(--upgrade-color)
        }
      }
    }
  }

  & > #upgrades-group-buttons {
    display: flex;
    margin-top: auto;
    margin-bottom: 1px;
    padding: 0 50%;
    column-gap: 1px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    font-size: 75%;
    align-items: flex-end;
    height: 2.2rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;

    -webkit-mask-image: linear-gradient(to right, transparent, var(--background-color) .5rem, var(--background-color) calc(100% - .5rem), transparent);
    mask-image: linear-gradient(to right, transparent, var(--background-color) .5rem, var(--background-color) calc(100% - .5rem), transparent);

    & > li {
      scroll-snap-align: center;
      background-color: var(--background-color-secondary);
      height: 90%;

      &.active {
        height: 100%;
        background-color: var(--background-color-tertiary);
      }

      & > button {
        height: 100%;
        width: fit-content;
        min-width: 1.5rem;
        padding: .25rem
      }
    }
  }
}

footer {
  background-color: var(--background-color-secondary);

  & > #items {
    & > #group-big {
      display: flex;
      flex-direction: row;
      padding: .1rem .5rem;

      & > .g-info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;

        & > i {
          padding: .5rem;
          width: 100%;
        }

        & > p {
          text-align: center;
        }
      }
    }

    & > #group-small {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      padding: .5rem;
      font-size: 75%;
      column-gap: 1rem;

      & > .g-info {
        display: flex;
        gap: 1px;
        justify-content: end;
      }
    }
  }

  & > #tabs {
    display: flex;
    height: 3rem;
    flex-direction: row;
    align-items: stretch;

    & > .tab {
      width: 100%;

      &.active > i {
        font-size: 125%;
      }
    }
  }
}